// $icon-font-path: "/bower_components/sass-bootstrap/fonts/";

// @import 'sass-bootstrap/lib/bootstrap';
body {
  background: #c1a746;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  color: #000;
}
a {
  color: #FFF;
  text-decoration: none;
  &:hover {
    color: #EEE;
    text-decoration: none;
  }
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

footer {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  margin: 1.0em;
  width: 100%;
  .social {
    position: absolute; 
    top: 0; 
    right: 0;
    .facebook {
      margin-right: 4px;
      margin-left: -15px;
      margin-bottom: -1px;
    }
    .github {
      margin-right: 1.0em;
    }
  }
}
/* Answer
-----------------*/
.answer {
  width: 300px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -75px;
  text-align: center;
  z-index: 8;
  h1 {
    font-size: 5.0em;
    margin: 0;
  }
  h3 {
    font-weight: 300;
  }
  img {
    max-width: 100%;
    border: 5px solid #FFF;
  }
}